<!-- Aula 435. Componente Cabeçalho 
Para poder utilizar o mat-toolbar, fiz a importação em app.module.ts
import { MatToolbarModule} from '@angular/material/toolbar'; -->

<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/"> <!-- Aula 442. Navegando entre Componentes -->
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="{{ routeUrl }}"> <!-- Aula 466. Atualizando os Títulos -->
            <i class="material-icons">
                <!-- Colocar ícone do lado do nome da cod3r -->
                <!-- dashboard -->
                {{ icon }} <!-- Aula 466. Atualizando os Títulos --> 
            </i>
            <!-- Aplicação CRUD -->
            <!-- Aula 441. Componente Início (Home) -->
            {{ title }} <!-- Aula 466. Atualizando os Títulos --> 
        </a>

    </span>

</mat-toolbar>