/* Aula 369. Componente Calculator */
.calculator {
    height: 320px; /* Alterado de 320px para ficar do mesmo tamanho da calc do mac */
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: red; Temporário */
    /* Aula 370. Componente Button #01 */
    /* Estou usando o flexbox no meu body e vou usar o grid nos botões */
    display: grid; /* Colocou os botões um embaixo do outro */
    grid-template-columns: repeat(4,25%); /* Simulando o leiaute da calc do mac, com 4 colunas ocupando 25% da área */
    /* a grid-template-rows representam as linhas da calculadora */
    grid-template-rows: 1fr 48px 48px 48px 48px; /* Aula 371. Componente Display. 1 fr (1 fragmento) que representa o display */
}