<!-- Aula 441. Componente Início (Home) -->
<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para exemplificar a construção de um cadastro em Angular
    </mat-card-subtitle>
    <!-- Aula 444. Diretivas na Prática #02 
    Este exemplo é apenas p/ explicar o uso. Não tem aplicabilidade no projeto -->
    <!-- <ul>
        <li *appFor="let n in [1, 2, 3]">{{ n }}</li>
    </ul> -->
</mat-card>
