/* Aula 370. Componente Button #01 */

/* No Exemplo abaixo, estou utilizando VARIÁVEIS dentro do meu arquivo CSS. 
Isto não é SASS, é CSS raiz! 
Vantagem:
Se eu altero a propriedade dentro do meu :root, todos os seletores que aplicarem as variáveis são atualizados
*/

:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button); /* usando a variável */
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

/* Aula 372. Componente Button #02 */
.button:active { /* Usando uma pseudo classe */
    background-color: #ccc; /* Ao clicar no botão, por isso estou usando a pseudo classe, vai escurecer o botão */
}

/* Tratando os botões que ocuparão 2 ou 3 espaços (igual a calc do mac) */
.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

/* Tratando os botões referentes a operações. */
.button.operation {
    background-color: #fa8231;
    color: #fff;
}

.button.operation:active {
    background-color: #fa8231cc; /* O cc é referente a transparência */
}